{% extends "layout.html" %}

{% block title %}
<h1>USER PORTFOLIO</h1>
{% endblock %}

{% block main %}
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Stock name</th>
        <th>Qty</th>
        <th>Current stock price</th>
        <th>Total value</th>
        <th>Cash Balance</th>
        <th>Total investment</th>
    </tr>
    </thead>
    <tbody>
    {% for purchase in data["purchases"] %}
    <tr>
        <td>{{ data["user"][1] }}</td>
        <td>{{ purchase[2] }}</td>
        <td>{{ purchase[3] }}</td>
        <td>{{ purchase[5] }}</td>
        <td>{{ purchase[6] }}</td>
        <td>{{ data["user"][3] - purchase[6] }}</td>
        <td>{{ data["user"][3] + purchase[6] }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
